body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f6f6;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 16px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#calendar button {
  width: 100%;
  margin: 6px 0;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #6c2bd9;
  color: white;
  font-size: 16px;
}

#calendar button.lotado {
  background: #ccc;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
