<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bruh Nails</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <main class="card">
    <img src="{{ url_for('static', filename='logo.png') }}" id="logo" alt="Bruh Nails">

    <h1>Bruh Nails</h1>
    <p class="subtitle">Unhas & Beleza</p>

    <a href="#" class="btn">Agende seu horário</a>
    <a href="#" class="btn">Fale comigo</a>
    <a href="#" class="btn">Instagram</a>
    <a href="#" class="btn">Como chegar</a>
  </main>

  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>
